/* -------------About us page-------------*/

.about {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  padding: 40px;
  max-width: 100%;
  margin: 3% 3% 3% 15%;
}

.about-text {
  text-align: left;
  max-width: 85%;
}

@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr;
    padding: 20px;
    margin: auto 10px;
  }
  .about-text {
    max-width: 100%;
  }
}
