/* about us page*/

.about {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  padding: 40px;
  max-width: 100%;
  margin: 3% 3% 3% 15%;
}

.aboutText {
  text-align: left;
  max-width: 85%;
}

.aboutImage {
  width: 100%;
  min-height: 400px;
}

@media (max-width: 900px) {
  .about {
    grid-template-columns: 2fr 1fr;
    margin: 3% 10%;
    padding: 20px;
  }
  .aboutText {
    max-width: 90%;
  }
  .aboutImage {
    height: auto;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .about {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .aboutText {
    max-width: 100%;
  }
  .aboutImage {
    height: auto;
  }
}
