/*------------Payment successfull / Confirmation--------------*/

.payment-successfull {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 60px;
  background-color: var(--boxHoverColor);
}
.payment-image {
  max-width: 300px;
  height: auto;
  min-width: 200px;
  border-radius: 50%;
}

.payment-text {
  padding: 0 8%;
}

@media (max-width: 900px) {
  .payment-successfull {
    padding: 8%;
    gap: 30px;
  }
}

@media (max-width: 700px) {
  .payment-successfull {
    font-size: medium;
    flex-direction: column-reverse;
    padding: 10%;
  }
  .payment-text {
    width: fit-content;
  }
}
