/* Home page */

.homepageStart {
  max-width: 1300px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

.homapageItems > * {
  flex: 1;
}
.homapageItems {
  display: flex;
}

.homapageImages {
  width: 40%;
  padding: 5px;
}

.dividerBox {
  background-color: var(--boxHoverColor);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  border-radius: 20px;
  max-width: 1300px;
  margin: 150px 20px;
  gap: 20px;
  min-width: 0;
}

.homepageTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}

.homepageTextBox h2 {
  align-self: flex-start;
}

.imagecontainer {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .dividerBox {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
  }
}

@media (max-width: 600px) {
  .homepageStart {
    display: flex;
    flex-direction: column;
  }
  .homepageText {
    order: 1;
  }
  .img1 {
    order: 0;
  }
  .img2 {
    order: 2;
  }
}

@media (max-width: 500px) {
  .dividerBox {
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    min-width: 0;
  }
  .homepageTextBox {
    font-size: 1rem;
    margin: 0;
    padding: 10px;
  }
}

.shopTitle {
  padding-top: 30px;
  margin-top: 50px;
}

.columnsProducts {
  display: grid;
  gap: 20px;
  padding: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  border-radius: 50px;
  margin: 10px auto;
  margin-bottom: 70px;
  padding-top: 0px;
  max-width: 1300px;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.product p {
  margin: 2px 0;
}

.productimg {
  max-width: 100%;
  height: 500px;
  object-fit: scale-down;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .columnsProducts {
    grid-template-columns: 1fr;
  }
}

.imgdivider {
  width: 100%;
}

/* __________________________ */

.container1,
.container2,
.container3,
.container4 {
  background-color: white;
  padding: 30px;
  margin: 10px;
}
.container3 {
  flex: 1;
}

.container4 {
  flex: 1;
}
@media (max-width: 900px) {
  .container4,
  .container3 {
    justify-content: center;
    width: 88%;
  }
}
