/* ---------------Home page-------------- */

.homepage-start {
  max-width: 1300px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

.homapage-items > * {
  flex: 1;
}
.homapage-items {
  display: flex;
}

.homapage-images {
  width: 40%;
  padding: 5px;
}

.divider-box {
  background-color: var(--boxHoverColor);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  border-radius: 20px;
  max-width: 1300px;
  margin: 100px auto;
  gap: 20px;
}

.homepage-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}

.homepage-text-box h2 {
  align-self: flex-start;
}

@media (max-width: 1200px) {
  .divider-box {
    display: flex;
    flex-direction: column-reverse;
    margin: 100px 20px;
  }
}

@media (max-width: 500px) {
  .divider-box {
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
  }
  .homepage-text-box {
    font-size: 1rem;
    margin: 0;
    padding: 10px;
  }
}

/* ------------------ontact page---------------*/

.contact-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--boxHoverColor);
}

.contact-container1,
.contact-container2,
.shipping-container div,
.shipping-method-container {
  background-color: white;
  padding: 30px;
  margin: 10px;
}

.contact-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  min-width: 340px;
}

.contact-container1 h4 {
  margin: 10px 0;
}

.contact-container1 p {
  margin: 0px;
}

.contact-container2 {
  width: 30%;
  min-width: 550px;
}

.contact-container1,
.contact-container2,
.shipping-container div,
.shipping-method-container {
  background-color: white;
  padding: 30px;
  margin: 10px;
}

.shipping-container div,
.shipping-method-container {
  flex: 1;
}

@media (max-width: 1200px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .shipping-method-container,
  .shipping-container div {
    justify-content: center;
    width: 88%;
  }
}
@media (max-width: 700px) {
  .contact-container1 {
    min-width: 250px;
  }
  .contact-container2 {
    min-width: 400px;
  }
}
@media (max-width: 500px) {
  .contact-container1 {
    min-width: 200px;
  }
  .contact-container2 {
    min-width: 300px;
  }
}
