<div class="text-center">
    <a href="/index.html"><img class=footer-img src="/Images/RainyDays_Logo.png" alt="Rainydays Logo"></a>
</div>
<div class="text-center">
    <div class="social-icons">
        <i class="fa-brands fa-instagram fa-lg"></i>
        <i class="fa-brands fa-facebook fa-lg"></i>
        <i class="fa-brands fa-pinterest"></i>
    </div>
    <a href="/about.html"><br>&copy; Malin Skrettingland</a>
</div>
<div id="info" class="text-center">
    <p><i class="fa-solid fa-envelope"></i> info@rainydays.com</p>
    <p><i class="fa-solid fa-phone"></i>+01 234 56 789</p>
    <p>
        <a
            href="https://www.google.com/maps/space/moon/@-66.5242396,58.1164315,6632649m/data=!3m1!1e3?entry=ttu&g_ep=EgoyMDI1MDUyOC4wIKXMDSoASAFQAw%3D%3D">
            <i class="fa-solid fa-location-dot"></i>
            Fairyland 101, The Moon
        </a>
    </p>
</div>