<section>
    <nav class="navbar">
        <div>
            <a href="/coming-soon.html" aria-label="search"><i class="fa-solid fa-magnifying-glass fa-xl"></i></a>
        </div>
        <ul class="navbar-list">
            <li><a href="/index.html"><i class="fa-solid fa-house-chimney"></i><span
                        class="display-hidden">Home</span></a>
            </li>
            <li><a href="/contact.html"><i class="fa-solid fa-message"></i><span
                        class="display-hidden">Contact</span></a></li>
            <li><a href="/about.html"><i class="fa-solid fa-info"></i><span class="display-hidden">About</span></a></li>
        </ul>
        <div class="navbarContainer">
            <a href="/coming-soon.html" aria-label="My page"><i class="fa-solid fa-user fa-xl"></i></a>
            <a href="/checkout/index.html" aria-label="shoppingcart"><i class="fa-solid fa-cart-shopping fa-xl"></i>
                <span id="cart-count">0</span></a>
        </div>
    </nav>
</section>
<section class="header-background">
    <a href="/index.html"><img class=logo src="/Images/RainyDays_Logo_hvit.02.png" alt="Rainydays Logo"></a>
</section>