/* -------------Footer---------- */
footer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer-img {
  width: 100%;
  max-width: 300px;
  padding-bottom: 30px;
}

footer p {
  margin: 10px;
  align-items: center;
}

footer .fa-solid {
  margin: 0 15px;
}

footer .fa-brands {
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--mainColor);
}
#info {
  color: var(--mainColor);
}

@media (max-width: 900px) {
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
  }
  .footer-img {
    margin: 20px 0;
    max-width: 250px;
  }
  #info {
    order: 1;
    margin: 20px 0;
    padding: 10px 0;
  }
  footer div {
    order: 0;
  }
  footer div:nth-child(1) {
    order: 3;
  }
  footer div:nth-child(2) {
    order: 1;
  }
  footer div:nth-child(3) {
    order: 2;
  }
  .footer-img #info {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    text-align: center;
  }
}
